<li class="describe-item">
    <h3>{{description}}</h3>
    <div><a href="#" class="describe-link collapse-link"></a></div>
    <ul class="describe-collapsible shown">
        {{{content}}}
    </ul>
</li>