<ul>
    <li>
        <strong>{{description}}</strong>
    </li>
    <li>File location: <span class="filename">{{file}}</span></li>
    <li class="code-sample-wrapper">
        <div class="code-expand">
            <a href="#"></a>
        </div>
        <pre class="code-sample">
            <code>
        {{testBody}}
            </code>
        </pre>
    </li>
</ul>