<ul>
    <li>
        <strong>{{description}}</strong>
    </li>
    <li>File location: <span class="filename">{{file}}</span></li>
    <li>
        <pre>
            <code>
        {{testBody}}
            </code>
        </pre>
    </li>
</ul>