<ul>
    <li>
        <strong>{{description}}</strong>
    </li>
    <li>File location: {{file}}</li>
    <li>
        <pre>
            <code>
        {{testBody}}
            </code>
        </pre>
    </li>
</ul>